---
const faqs = [
  {
    id: 1,
    question: "What is Bookmark?",
    answer:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt justo eget ultricies fringilla. Phasellus blandit ipsum quis quam ornare mattis..",
  },
  {
    id: 2,
    question: "How can I request a new browser?",
    answer:
      "Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non ligula. Suspendisse imperdiet. Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non ligula. Suspendisse imperdie tVivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non ligula. Suspendisse imperdiet.",
  },
  {
    id: 3,
    question: "Is there a mobile app?",
    answer:
      "Sed consectetur quam id neque fermentum accumsan. Praesent luctus vestibulum dolor, ut condimentum urna vulputate eget. Cras in ligula quis est pharetra mattis sit amet pharetra purus. Sed sollicitudin ex et ultricies bibendum.",
  },
  {
    id: 4,
    question: "What about other chromium browsers?",
    answer:
      "Integer condimentum ipsum id imperdiet finibus. Vivamus in placerat mi, at euismod dui. Aliquam vitae neque eget nisl gravida pellentesque non ut velit.",
  },
];
---

<section class="w-full py-6 md:py-24">
  <div class="mx-auto max-w-xl px-6 text-center">
    <!-- Header -->
    <h2 class="text-3xl font-bold md:text-4xl">Frequently Asked Questions</h2>
    <p class="mt-4 text-gray-500">
      Here are some of our FAQs. If you have any other questions you’d like 
      answered please feel free to email us.
    </p>

    <!-- Accordion -->
    <div
    class="mt-12 text-left
            border-t border-b border-gray-200
            divide-y divide-gray-200"
    >
        {faqs.map((faq) => (
            <details
            class="group p-6 [&_summary::-webkit-details-marker]:hidden"
            >
            <summary class="flex items-center justify-between cursor-pointer font-medium text-gray-800">
                {faq.question}

                <!-- Arrow Icon -->
                <img
                src="/icon-arrow.svg"
                alt="Toggle arrow"
                class="w-4 h-3
                        transition-transform duration-300
                        group-open:rotate-180
                        group-open:text-red-500 md:w-6 md:h-4"
                />
            </summary>

            <p class="mt-4 text-gray-500 leading-relaxed">
                {faq.answer}
            </p>
            </details>
        ))}
    </div>


    <!-- More Info Button -->
    <a
      href="#"
      class="mt-8 inline-block rounded-md bg-blue px-6 py-3
             text-sm font-semibold text-white
             shadow-sm hover:shadow-md
             hover:bg-blue-700 transition"
    >
      More Info
    </a>
  </div>
</section>
