---
import NavLink from "./NavLink.astro";

const navLinkData = [
  { name: "Features", link: "/" },
  { name: "Pricing", link: "/" },
  { name: "Contact", link: "/" },
];
---

<header id="site-header" class="absolute top-0 left-0 z-20 w-full">
  <nav class="mx-auto flex max-w-7xl items-center justify-between px-6 py-6">
    <!-- Logo -->
    <a href="/" class="inline-flex items-center z-30">
      <img
        id="site-logo"
        src="/logo-bookmark.svg"
        alt="Bookmark home"
        class="h-8 w-auto"
      />
    </a>

    <!-- Mobile toggle -->
    <button
      id="menu-btn"
      class="relative z-30 md:hidden"
      aria-label="Toggle menu"
    >
      <img
        id="icon-hamburger"
        src="/icon-hamburger.svg"
        alt=""
        class="h-6 w-6"
      />
      <img
        id="icon-close"
        src="/icon-close.svg"
        alt=""
        class="hidden h-6 w-6"
      />
    </button>

    <!-- Desktop menu -->
    <div class="hidden md:flex md:items-center md:gap-8">
      {
        navLinkData.map((navlink) => (
          <NavLink
            name={navlink.name}
            link={navlink.link}
            color="--color-grey-400"
          />
        ))
      }
      <a
        href="/"
        class="rounded-md border bg-red border-white px-8 py-3 text-sm uppercase tracking-widest font-bold text-white hover:bg-white hover:text-red hover:border-red transition"
      >
        Login
      </a>
    </div>
  </nav>

  <!-- Mobile menu (fullscreen) -->
  <div
    id="mobile-menu"
    class="fixed inset-0 z-10 hidden bg-blue-950/90
         flex flex-col items-center justify-between
         px-6 pt-24 pb-12 text-center md:hidden"
  >
    <!-- Nav links -->
    <div class="flex flex-col items-stretch gap-6 w-full max-w-78">
      {
        navLinkData.map((navlink) => (
          <NavLink
            name={navlink.name}
            link={navlink.link}
            color="--color-white"
            className="font-light text-xl! border-t-2 border-t-gray-600 pt-4"
          />
        ))
      }

      <div class="w-full border-t-2 border-t-gray-600 pt-4">
        <a
          href="/"
          class="block mt-4 w-full rounded-md border-2 border-white px-6 py-3
               text-xl font-normal uppercase tracking-widest text-white
               hover:bg-white hover:text-slate-900 transition"
        >
          Login
        </a>
      </div>
    </div>

    <!-- Social icons -->
    <div class="flex items-center gap-6">
      <a href="#" aria-label="Facebook">
        <img src="/icon-facebook.svg" alt="" class="h-6 w-6" />
      </a>

      <a href="#" aria-label="Twitter">
        <img src="/icon-twitter.svg" alt="" class="h-6 w-6" />
      </a>
    </div>
  </div>
</header>

<!-- JS -->
<script>
  (() => {
    const menuBtn = document.getElementById("menu-btn");
    const mobileMenu = document.getElementById("mobile-menu");
    const hamburger = document.getElementById("icon-hamburger");
    const closeIcon = document.getElementById("icon-close");
    const header = document.getElementById("site-header");
    const logo = document.getElementById("site-logo");

    if (
      !menuBtn ||
      !mobileMenu ||
      !hamburger ||
      !closeIcon ||
      !(logo instanceof HTMLImageElement) ||
      !header
    ) {
      return;
    }

    menuBtn.addEventListener("click", () => {
      const isOpening = mobileMenu.classList.contains("hidden");

      // Menu
      mobileMenu.classList.toggle("hidden", !isOpening);

      // Icons
      hamburger.classList.toggle("hidden", isOpening);
      closeIcon.classList.toggle("hidden", !isOpening);

      // Header background
      // header.classList.toggle("bg-slate-900", isOpening);

      // Logo swap
      logo.src = isOpening ? "/logo-bookmark-dark.svg" : "/logo-bookmark.svg";
    });
  })();
</script>
